@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    background: radial-gradient(
  circle at 20% 20%,
  rgb(9, 12, 50),   /* أزرق بنفسجي خفيف */
  rgba(15, 23, 42, 0.9),      /* دارك ناعم */
  #020617                    /* خلفية عميقة */
);
    color: #f4f4f4;
    transition: .3s;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle , #ced1de , #c3cfe2 60% , #ffffff);
    opacity: 0;
    transition: opacity .5s ease;
    z-index: -1;
}

body.light__mode::before {
    opacity: 1;
    color: #333333;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#light{
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.pc__navbar{
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    background: radial-gradient(circle 200px at top left , rgba(254, 24, 112 , .5) , transparent ),
                radial-gradient(circle 200px at top right , rgba(24, 139, 254, 0.5) , transparent ),
                #f4f4f43b;
    backdrop-filter: blur(20px) !important;
    border-radius: 4rem;
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    border: 1px solid rgba(255, 255, 255 , .2);
    box-shadow: 0 0 10px rgba(255, 255, 255 , .2);
}
a{
    text-decoration: none;
    transition: .3s;
}
section{
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
}
.about{
    padding-top: 2rem;
    position: relative;
}
.pulse{
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    animation: pulse 1s linear infinite;
}
.pulse1{
    top: 40%;
    left: 55%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(254, 24, 112 , .4);
    animation-duration: 1s;
}
.pulse2{
    top: 35%;
    right: 5%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(124, 24, 254, 0.4);
    animation-duration: 1.5s;
}
.pulse3{
    top: 15%;
    left: 5%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(124, 24, 254, 0.4);
    animation-duration: 2s;
}
.pulse4{
    top: 65%;
    left: 12%;
    width: 4.5rem;
    height: 4.5rem;
    background-color: rgba(254, 24, 112 , .4);
    animation-duration: 2.5s;
}
.pulse5{
    top: 60%;
    right: 12%;
    width: 5rem;
    height: 5rem;
    background-color: rgba(24, 250, 254, 0.4);
    animation-duration: 3s;
}
.nav__header a,
.nav__links a{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 3px;
    &:hover{
        color: #fe1870;
    }
    
}

.nav__links a{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.nav__header a::before,
.nav__links a::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fe1870;
    transform: translateX(-50%);
    transition: .3s;
}
.nav__header a:hover::before,
.nav__links a:hover::before{
    width: 100%;

}
.nav__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    transform: translateX(-30px);
}
.dark__mode__btn button{
    padding: .5rem 1rem ;
    background-color: #f4f4f4;
    color: #333333;
    border-radius: 8px;
    border: 1px solid #333333;
    transition: .3s;
    cursor: pointer;
    &:hover{
        background-color: #c9c9c9;
    }
}
.dark__mode__btn button i{
    font-size: 1.25rem;
}
.container{
    width: 100%;
    display: grid;
    justify-items: center;
    padding: 1rem;
}
.image{
    width: 70%;
    max-width: 350px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255 , .2);
    padding: 1rem;
    display: grid;
    justify-items: center;
    position: relative;
    box-shadow: 0 0 80px rgba(255, 255, 255 , .2);
}
.image img{
    width: 100%;
    border-radius:50% ;
    box-shadow: 0 0 10px rgba(255, 255, 255 , .2);
}
.coding_icons{
    position: absolute;
    z-index: 1;
    transition: .3;
    animation: bounce  linear infinite;
}
.coding_icons i{
 font-size: 1.75rem;
 color: #fe1870;
}
.c_icon_1{
    top: 10px;
    left: 25px;
    animation-duration: 2s;
}
.c_icon_2{
    top: 28px;
    right: 15px;
    animation-duration: 2.25s;
}
.c_icon_3{
    bottom: 8px;
    right: 35px;
    animation-duration: 2.5s;
}
.c_icon_4{
    bottom: 45px;
    left: 5px;
    animation-duration: 3s;
}
.c_icon_5{
    top: 50%;
    left: -12px;
    animation-duration: 3.25s;
}
.c_icon_6{
    top: 45%;
    right: -18px;
    animation-duration: 4s;
}
.btns{
    display: flex;
    flex-direction: column;
}
.download__btn{
    width: 95%;
    padding-block: 1rem;
    background-color: #fe1870;
    color: #f4f4f4;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: .5rem;
    white-space: nowrap;
    margin: .5rem auto;
    box-shadow: 0 0 15px #fe1870;
    &:hover{
        background-color: #cd145b;
    }
}
.download__btn i{
    font-size: 1.25rem;
    color: #f4f4f4;
    transition: .3s;
}
.download__btn:hover i{
    transform: translateX(5px);
}
.send__msg{
    background-color: #f4f4f4;
    color: #fe1870;
    &:hover{
        color: #f4f4f4;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
.content{
    text-align: center;
}

.about__text{
    font-size: 1rem;
    color: #c9c9c9;
}
.skills{
    padding: 2rem;
}
.title{
    color: #f4f4f4;
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.title::before , .title::after{
    position: absolute;
    left: 0;
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    background-color: #fe1870;
    border-radius: 50%;
}
.title::before{
    width: 1.3rem;
    height: 1.3rem;
    background-color: #fe1870;
}
.title::after{
    width: 1.3rem;
    height: 1.3rem;
    animation: pulse 1s linear infinite;
}
@keyframes pulse {
    0% {
        transform: scale(.9);
        opacity: 1;
    }
    100%{
        transform: scale(1.8);
        opacity: 0;
    }
}
@keyframes fadeInOut {
    0% , 100% {
        opacity: 0;
        transform: translateY(-10px);
    }
    50%{
        opacity: 1;
        transform: translateY(0);
    }
}

.my__skills{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(125px , 1fr));
    gap: 3rem;
    justify-items: center;
    padding: 1rem;
}
.card{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.card i {
    font-size: 2.5rem;
}
.card p{
    font-size: 1.25rem;
    font-weight: 300;
}
.card1{
    background-color: rgba(254, 70, 24 , .2);
    border: 3px solid rgb(254, 70, 24);
    color: rgb(254, 70, 24);
}
.card2{
    background-color: rgba(24, 51, 254, 0.2);
    border: 3px solid rgb(24, 51, 254);
    color: rgb(24, 51, 254);
}
.card3{
    background-color: rgba(212, 254, 24, 0.2);
    border: 3px solid rgb(212, 254, 24);
    color: rgb(212, 254, 24);
}
.card4{
    background-color: rgba(24, 227, 254, 0.2);
    border: 3px solid rgb(24, 227, 254);
    color: rgb(24, 227, 254);
}
.card5{
    background-color: rgba(255, 62, 165, 0.2);
    border: 3px solid rgb(255, 62, 165);
    color: rgb(255, 62, 165);
}
.card6{
    background-color: rgba(251, 0, 255, 0.2);
    border: 3px solid rgb(251, 0, 255);
    color: rgb(251, 0, 255);
}
.card7{
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.card8{
    background-color: rgba(255, 41, 41, 0.2);
    border: 3px solid rgb(255, 19, 19);
    color: rgb(255, 19, 19);
}
.card9{
    background-color: rgba(41, 255, 123, 0.2);
    border: 3px solid rgb(41, 255, 123);
    color: rgb(41, 255, 123);
}
.card10{
    background-color: rgba(106, 236, 225, 0.2);
    border: 3px solid rgb(106, 236, 255);
    color: rgb(106, 236, 255);
}
.card11{
    background-color: rgba(255, 214, 90, 0.2);
    border: 3px solid rgb(255, 214, 90);
    color: rgb(255, 214, 90);
}
.card12{
    background-color: rgba(238, 102, 166 , 0.2);
    border: 3px solid rgb(238, 102, 166);
    color: rgb(238, 102, 166);
}

.projects__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(320px , 380px ));
    justify-items: center ;
    justify-content: center;
    align-items: center ;
    padding: 1rem;
    gap: 1.75rem 5rem;
    width: 100%;
}
.projects__card{
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(45deg , #4b4b4b , #5b5b5b) padding-box ,
                linear-gradient(45deg , #fe1870 , #189afe) border-box ;
    border: 2px transparent solid;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: .3s;
    min-height: 420px;
    &:hover{
        transform: translateY(-1rem);
    }
}
.project__img{
    width: 100%;
    border-radius: 1rem;
}
.project__img img{
    width: 100%;
    border-radius: 1rem;
}
.projects__card p{
    color: #cacaca;
    font-size: 1rem;
}
.technologies{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    margin: 10px 0;
    color: #f4f4f4;
}
.technologies span{
    padding: 4px 10px;
    background-color: #189afe;
    border-radius: 1rem;
}

.discover__btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.discover__btn::after,
.discover__btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.discover__btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.discover__btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.discover__btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.discover__btn:where(:hover, :focus) {
  color: #fff;
}

.socials__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(320px , 500px));
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2rem 1rem;
}
.social__card{
    padding: 1rem;
    background-color: #00fffb;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    color: #f4f4f4;
    overflow: hidden;
    transition: .3s;
    box-shadow:0 0 10px rgba(255, 255, 255, 0.2);
    &:hover{
        transform: translateY(-10px);
    }
}
.social__card i{
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.5);
}
.social__card div{
    position: absolute;
    top: -10%;
    right: -3%;
    transform: rotate(-45deg);
}
.social1{
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
}
.social2{
    background: linear-gradient(135deg, #1877f2, #3b5998, #0e1f40);
}
.social3{
    background: linear-gradient(135deg, #25D366, #128C7E, #075E54);
}
.social4{
    background: linear-gradient(135deg, #0d1117, #161b22, #30363d);
}

.message{
    width: 95%;
    max-width: 700px;
    margin-inline: auto;
    padding: 1rem;
}
.message div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    gap: 5px;
}
.input {
  width: 100%;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}
.textarea{
    min-height: 150px;
}
.send__btn{
    width: 100%;
    border: none;
    outline: none;
    padding-block: 0.75rem;
    background: linear-gradient(135deg , #fd1d1d , #fe1870);
    color: #f4f4f4;
    font-size: 1rem;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    &:hover{
        letter-spacing: 1px;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
    }
}
footer{
    background-color: #080312;
    color: #f4f4f4;
    width: 100%;
    padding: 1rem;
    padding-bottom: 7rem;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1{
    font-size: 2.5rem;
    margin-block: 1rem;
}
.my__name{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fe1870;
    animation: fadeInOut 2s ease-in-out infinite;
}
.job{
    color: #fe1870;
    font-weight: 500;
}


.link{
    color: #f4f4f4 ;
}
.light__mode__color{
    color: #333333 !important;
}
.dark__mode__color{
    color: #f4f4f4 !important;
}
.social__card p{
    color: #bbbbbb;
}

.alert{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid ;
    transition: opacity .3s;
    z-index: 99;
}
.success{
    background-color: #14ffe4 ;
    color: #075E54;
    border-color: #075E54;
}
.error{
    background-color: #ffd6d6;
    color: #ff0062;
    border-color:#ff0062 ;
}

.hide{
    opacity: 0;
}

.error__page{
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(width <= 1024px){
    .pc__navbar{
        display: none;
    }
}

/* big ecran */
@media(width >= 1024px){
    .container{
        grid-template-columns: repeat( 2 , 1fr);
        align-items: center;
    }
    .image{
        order: 2;
    }
    .content{
        order: 1;
        text-align: left;
    }
    .content h1 {
        font-size: 3.5rem;
    }
    .about{
        padding-top: 9rem;
    }
    .about__text{
        font-size: 1.25rem;
    }
    .download__btn{
        margin-inline: unset;
    }
    footer{
        padding-bottom: unset;
    }
    #light{
        display: none;
    }
    .alert{
        top: 2rem;
    }
}

@media (width < 400px) {
    .my__skills{
        grid-template-columns: repeat(auto-fit , minmax(100px , 1fr));
    }
}