<div class="navbar">
  <ul>
    <!-- <li class="active" id="home_nav_btn">
      <a href="#">
        <i class="ri-home-2-line icon"></i>
        <i class="ri-home-2-fill activeIcone"></i>
      </a>
    </li> -->
    <li class="active" id="about_nav_btn">
      <a href="#">
        <i class="ri-information-line icon"></i>
        <i class="ri-information-fill activeIcone"></i>
      </a>
    </li>
    <li id="skills_nav_btn">
      <a href="#">
        <i class="ri-tools-line icon"></i>
        <i class="ri-tools-fill activeIcone"></i>
      </a>
    </li>
    <li id="projects_nav_btn">
      <a href="#">
        <i class="ri-folder-2-line icon"></i>
        <i class="ri-folder-2-fill activeIcone"></i>
      </a>
    </li>
    <li id="contact_nav_btn">
      <a href="#">
        <i class="ri-phone-line icon"></i>
        <i class="ri-phone-fill activeIcone"></i>
      </a>
    </li>
    
    <div class="indicator"></div>
  </ul>
</div>

<nav class="pc__navbar">
  <div class="nav__header">
    <a href="#" class="link">Portfolio</a>
  </div>
  <ul class="nav__links">
    <li>
      <a href="#" id="about__btn" class="link">
        About me
      </a>
    </li>
    <li>
      <a href="#" id="skills__btn" class="link">
        Skills
      </a>
    </li>
    <li>
      <a href="#" id="projects__btn" class="link">
        Projects
      </a>
    </li>
    <li>
      <a href="#" id="contact__btn" class="link">
        Contact
      </a>
    </li>
  </ul>
  <div class="dark__mode__btn">
    <button type="button">
      <i class="ri-moon-line moon__icon"></i>
    </button>
  </div>
</nav>
